home, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
    background-image: url(Home-Slideshop/1.jpg);
    animation: slider 20s infinite;
    font-family: sans-serif;
    color: #303030;
}

@keyframes slider {
    25% { background-image: url(Home-Slideshop/1.jpg); }
    50% { background-image: url(Home-Slideshop/2.jpg); }
    75% { background-image: url(Home-Slideshop/3.jpg); }
    100% { background-image: url(Home-Slideshop/1.jpg); }
}

.navbar {
    margin: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: right;;
    background-color: white;
    padding-right: 1%;
    box-shadow: 5px 5px 18px;
    border-radius: 40px;
}

h1 {
    background-color: #fff;
    border-radius: 25px;
    float: left;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    padding-left: 1%;
    box-shadow: 2px 2px 18px;
    padding: .5%;
}

h1 > a {
    text-decoration: none;
    color: inherit;
}

h2 {
    margin: 12%;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    background-color: #fff;
    background-size: cover;
    border-radius: 25px;
    padding: 1%;
    box-shadow: 5px 5px 18px;
}

h2 > p > a {
    color: #ff0000;
    text-decoration: none
}

li {
    display: contents;
    list-style: none;
}

li > a {
    margin: 19px;
    text-decoration: none;
    color: inherit;
    font-size: 150%;
}

li > a:hover {
    color: #ff0000;
}